@using MedicalPoint.ViewModels.Patients;
@model AddPatientViewModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/userdesign/css/all.min.css">
    <link rel="stylesheet" href="~/userdesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/userdesign/css/style.css">
    <title>تسجيل مريض</title>
    <link rel="icon" href="~/userdesign/img/logo.png">
  
</head>

<body class="background-with-color">

   

    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block ">
        <div class="container ">
            <div>
                <a asp-action="Logout" asp-controller="Account" class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a asp-action="Index" asp-controller="Patients" class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></a>
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <form method="post" asp-action="Create" >
            <div class="container  fadeInUp-animation">
                <div class="row  justify-content-center p-5">
                    <div class="col-lg-12 text-center">
                        <h1 id="choose">تسجيل بيانات مريض جديد <i class="fa-solid fa-user-pen"></i></h1>
                    </div>
                    
                    <div class="row  justify-content-center">
                        <div class="col-lg-4 text-center">
                            <input asp-for=Name id="patientName" class="my-input" type="text" placeholder="إسم المريض" required>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for="MilitaryNumber" id="milNum" class="my-input" type="text" maxlength="13" placeholder="الرقم العسكري"
                                   required>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for=NationalNumber  id="natNum" class="my-input" type="text" maxlength="14" placeholder="الرقم القومي"
                                   required>
                        </div>
                    </div>

                    <div class="row  justify-content-center">
                        <div class="col-lg-4 text-center">
                            <select id="my-select" class="form-select my-select" aria-label="Default select example" asp-for="DegreeId" class="form-control"  asp-items="ViewBag.Degrees">
                                <option value="0" selected>الدرجة\الرتبة</option>

                            </select>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for=SaryaNumber id="saryaNum" class="my-input" type="text" maxlength="2" placeholder="رقم السرية"
                                   required>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for=GeneralNumber id="generalNum" class="my-input" type="text" maxlength="5" placeholder="الرقم العام"
                                   required>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for=Major id="majorInput" class="my-input" type="text" maxlength="30" placeholder="التخصص الدراسي"
                                   >
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <button type="submit" value="Create" class="my-button  mt-3">
                            حفظ البيانات <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </div>


            </div>
        </form>
    </div>


    <div class="text-center">
    <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="display: none;"></button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="row justify-content-center">
                        <div class="col-lg-12">

                            <div class="col-lg-12">
                                <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                   class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                            </div>
                            <div class="col-lg-12">
                                <h4 id="errorText">هناك خطأ ما</h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    

    </div>
</body>
<footer>
    <!-- Copyright -->
    <div class="text-center p-1">

        <p id="footer-text">تم الانشاء بواسطة <span style="color: var(--red-color);">فرع النظم</span> الدفعة <span style="color: var(--red-color);">164</span> ضباط إحتياط ©</p>
    </div>

    <!-- Copyright -->
</footer>
<script>
   
    </script>

<script src="~/userdesign/js/all.min.js"></script>
<script src="~/userdesign/js/changeinputpatientactivation.js"></script>
<script src="~/userdesign/js/bootstrap.bundle.min.js"></script>
<script src="~/userdesign/js/popouterror.js"></script>
@if (ViewBag.ErrorMessage is string s)
{
    if (!string.IsNullOrEmpty(s))
    {
        <script>popout({ error: '@s' })</script>
    }
}
<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->

</html>