@using MedicalPoint.ViewModels.Patients;
@model AddPatientViewModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/userdesign/css/all.min.css">
    <link rel="stylesheet" href="~/userdesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/userdesign/css/style.css">
    <title>تسجيل مريض</title>
    <link rel="icon" href="~/userdesign/img/logo.png">
</head>

<body class="background-with-color">

    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block ">
        <div class="container ">
            <div>
                <a asp-action="Logout" asp-controller="Account" class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a asp-action="Index" asp-controller="Patients" class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></a>
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <form method="post" asp-action="Create" >
            <div class="container  fadeInUp-animation">
                <div class="row  justify-content-center p-5">
                    <div class="col-lg-12 text-center">
                        <h1 id="choose">تسجيل بيانات مريض جديد <i class="fa-solid fa-user-pen"></i></h1>
                    </div>

                    <div class="row  justify-content-center">
                        <div class="col-lg-4 text-center">
                            <input asp-for=Name class="my-input" type="text" placeholder="إسم المريض" required>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for="MilitaryNumber" id="milNum" class="my-input" type="text" maxlength="13" placeholder="الرقم العسكري"
                                   required>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for=NationalNumber  id="natNum" class="my-input" type="text" maxlength="14" placeholder="الرقم القومي"
                                   required>
                        </div>
                    </div>

                    <div class="row  justify-content-center">
                        <div class="col-lg-4 text-center">
                            <select id="my-select" class="form-select my-select" aria-label="Default select example" asp-for="DegreeId" class="form-control"  asp-items="ViewBag.Degrees">
                                <option value="0" selected>الدرجة\الرتبة</option>

                            </select>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for=SaryaNumber id="my-input" class="my-input" type="text" maxlength="2" placeholder="رقم السرية"
                                   required>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for=GeneralNumber id="my-input" class="my-input" type="text" maxlength="5" placeholder="الرقم العام"
                                   required>
                        </div>
                        <div class="col-lg-4 text-center">
                            <input asp-for=Major id="my-input" class="my-input" type="text" maxlength="30" placeholder="التخصص الدراسي"
                                   required>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <button type="submit" value="Create" class="my-button  mt-3">
                            حفظ البيانات <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </div>


            </div>
        </form>
    </div>
    
</body>
<script>
    // change inputs status
    const el = document.getElementById('my-select');
    const input = document.querySelectorAll('[id="my-input"]');
    document.getElementById('natNum').disabled = true;
    document.getElementById('natNum').style = "opacity:0.5";
    document.getElementById('milNum').disabled = true;
    document.getElementById('milNum').style = "opacity:0.5";

    for (i = 0; i < input.length; i++) {
        input[i].disabled = true;
        input[i].style = "opacity:0.5";
    }
    el.addEventListener('change', function handleChange(event) {
        if (event.target.value === '1') {
            for (i = 0; i < input.length; i++) {
                input[i].disabled = false;
                input[i].style = "opacity:1";
            }
            document.getElementById('natNum').disabled = true;
            document.getElementById('natNum').style = "opacity:0.5";
        } else if (event.target.value === '16') {
            for (i = 0; i < input.length; i++) {
                input[i].disabled = true;
                input[i].style = "opacity:0.5";
            }
            document.getElementById('milNum').disabled = true;
            document.getElementById('milNum').style = "opacity:0.5";
            document.getElementById('natNum').disabled = false;
            document.getElementById('natNum').style = "opacity:1";
        }
        else if (event.target.value === '0') {
            for (i = 0; i < input.length; i++) {
                input[i].disabled = true;
                input[i].style = "opacity:0.5";
            }
            document.getElementById('milNum').disabled = true;
            document.getElementById('milNum').style = "opacity:0.5";
            document.getElementById('natNum').disabled = true;
            document.getElementById('natNum').style = "opacity:0.5";
        }
        else {
            for (i = 0; i < input.length; i++) {
                input[i].disabled = true;
                input[i].style = "opacity:0.5";
                document.getElementById('milNum').disabled = false;
                document.getElementById('milNum').style = "opacity:1";
                document.getElementById('natNum').disabled = true;
                document.getElementById('natNum').style = "opacity:0.5";
            }
        }
    });
    </script>
<script src="~/userdesign/js/all.min.js"></script>
<script src="~/userdesign/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->

</html>