@model MedicalPoint.ViewModels.Patients.PatientViewModel

@{
    Layout = null;
}
@using MedicalPoint.ViewModels.Patients;
@{
    Layout = null;

}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/userdesign/css/all.min.css">
    <link rel="stylesheet" href="~/userdesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/userdesign/css/style.css">
    <title>تعديل بيانات مريض</title>
    <link rel="icon" href="~/userdesign/img/logo.png">
</head>

<body class="background-with-color">

    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block ">
        <div class="container ">
            <div>
                <button class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></button>
                <button class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></button>
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <form method="post" asp-action="Edit" >
            <div class="container  fadeInUp-animation">
                <div class="row  justify-content-center p-5">
                    <div class="col-lg-12 text-center">
                        <h1 id="choose">تعديل بيانات مريض <i class="fa-solid fa-user-pen"></i></h1>
                    </div>

                    <div class="row  justify-content-center">
                        <div class="col-lg-4 text-center">
                            <p id="my-label">إسم المريض*</p>
                            <input asp-for=Name class="my-input" type="text" placeholder="إسم المريض" required>
                        </div>
                       
                        <div class="col-lg-4 text-center">
                            <p id="my-label">الرقم العسكري*</p>
                            <input asp-for="MilitaryNumber" id="milNum" class="my-input" type="text" maxlength="13" placeholder="الرقم العسكري"
                                   >
                        </div>
                        <div class="col-lg-4 text-center">
                            <p id="my-label">الرقم القومي*</p>
                            <input asp-for=NationalNumber  id="natNum" class="my-input" type="text" maxlength="14" placeholder="الرقم القومي"
                                   >
                        </div>
                    </div>

                    <div class="row  justify-content-center">
                        <div class="col-lg-4 text-center">
                            <p id="my-label">الدرجة \ الرتبة*</p>
                            <select id="my-select" class="form-select my-select" aria-label="Default select example" asp-for="DegreeId" class="form-control"  asp-items="ViewBag.Degrees">
                                <option value="0" selected>الدرجة \ الرتبة</option>

                            </select>
                        </div>
                        <div class="col-lg-4 text-center">
                            <p id="my-label">رقم السرية*</p>
                            <input asp-for=SaryaNumber id="my-input" class="my-input" type="text" maxlength="2" placeholder="رقم السرية"
                                   >
                        </div>
                        <div class="col-lg-4 text-center">
                            <p id="my-label">الرقم العام*</p>
                            <input asp-for=GeneralNumber id="my-input" class="my-input" type="text" maxlength="5" placeholder="الرقم العام"
                                   >
                        </div>
                        <div class="col-lg-4  text-center">
                            <p id="my-label">التخصص الدراسي*</p>
                            <input asp-for=Major id="my-input" class="my-input" type="text" maxlength="30" placeholder="التخصص الدراسي"
                                   >
                                                               <input asp-for="Id" class="my-input" type="text" hidden      />

                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <button type="submit" value="Create" class="my-button  mt-3">
                            تعديل البيانات <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </div>


            </div>
        </form>
    </div>
</body>
<footer>
    <!-- Copyright -->
    <div class="text-center p-1">

        <p id="footer-text">تم الانشاء بواسطة <span style="color: var(--red-color);">فرع النظم</span> الدفعة <span style="color: var(--red-color);">164</span> ضباط إحتياط ©</p>
    </div>

    <!-- Copyright -->
</footer>

<script src="~/userdesign/js/all.min.js"></script>
<script src="~/userdesign/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->

</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

