@model MedicalPoint.ViewModels.Users.UsersViewModel

@{
    ViewData["Title"] = "UserEdit";
    Layout = "~/Views/Shared/_LayoutDesignLeader.cshtml";
}
<!-- End Page Title -->
<!-- E-Data -->
<form asp-action="UserEdit" asp-route-id="@Model.Id" asp-controller="SuperAdmin" method="post">



    <div class="row mb-3">
        <label for="fullName" style="font-weight: bold;" class="col-md-4 col-lg-3 col-form-label">اسم المستخدم</label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="Name" class="form-control" />
        </div>
    </div>



    <div class="row mb-3">
        <label for="mnumber" style="font-weight: bold;" class="col-md-4 col-lg-3 col-form-label">الرقم العسكري</label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="MilitaryNumber" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="degre" style="font-weight: bold;" class="col-md-4 col-lg-3 col-form-label">الرتبة</label>
        <div class="col-md-8 col-lg-9">
            <select asp-for="DegreeId" class="form-control" asp-items="ViewBag.Degrees">
                </select>
        </div>
    </div>

    <div class="row mb-3">
        <label for="pv" style="font-weight: bold;" class="col-md-4 col-lg-3 col-form-label">الرقم الهاتف </label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
    </div>



    <div class="row mb-3">
        <label for="Address" style="font-weight: bold;" class="col-md-4 col-lg-3 col-form-label">نوع الحساب</label>
        <div class="col-md-8 col-lg-9">
            <select asp-for="AccountType" class="form-control"  asp-items="ViewBag.UserTypes" >
                </select>

        </div>
    </div>

    <div class="row mb-3">
        <label for="Phone" style="font-weight: bold;" class="col-md-4 col-lg-3 col-form-label"> الحساب الالكتروني </label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="Email" class="form-control"  />
        </div>
    </div>








  <div class="row justify-content-center">
      <div class="col-lg-2 text-center">
           
                <button class="btn btn-success" type="submit"  role="button">حفظ التغييرات</button>

      </div><div class="col-lg-2 text-center">

            <a class="btn btn-danger" asp-action="ChangeUserPassword" asp-controller="SuperAdmin" asp-route-id="@Model.Id"  role="button">تغيير كلمة المرور</a>
      </div>
  </div>


</form><!-- End E-Data -->

