@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/UserDesign/css/all.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/UserDesign/css/style.css">
    <title>الصفحة الرئيسية</title>
    <link rel="icon" href="~/UserDesign/img/logo.png">
</head>
<body class="background">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <div class="text-one">
                <h1 class="main-p">النقطة الطبية</h1>
                <h1 class="second-p">كلية الضباط الإحتياط</h1>
                @if(this.Context.User.Identity.IsAuthenticated)
                {
                    <a asp-action="Logout" asp-controller="Account" class="my-button">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                }
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="fadeInUp-animation landing-three">
        <div class="landing-one">

            <div class="container ">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center typewrite">
                        <h1>منظومة الرعاية الصحية </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-two">
            <div class="row justify-content-center">

                <div class="col-lg-2 text-center">
                    <a asp-action="LoginRegist" asp-controller="Account"> <img src="~/UserDesign/img/استقبال.png" class="avatar" alt=""></a>
                    <p>إستقبال المرضى</p>
                </div>
                              
                
                <div class="col-lg-2 text-center">
                    <a asp-action="Logindoctor" asp-controller="Account"><img src="~/UserDesign/img/طبيب.png" class="avatar" alt=""></a>
                    <p>كشف الطبيب</p>
                </div>
                <div class="col-lg-2 text-center">
                    <a asp-action="LoginPharmacy" asp-controller="Account"> <img src="~/UserDesign/img/صيدلية.png" class="avatar" alt=""></a>
                    <p>الصيدلية</p>
                </div>
                <div class="col-lg-2 text-center">
                    <a asp-action="LoginSuperAdmin" asp-controller="Account"> <img src="~/UserDesign/img/4.png" class="avatar" alt=""></a>
                    <p>قائد النقطة الطبية</p>
                </div>
                <div class="col-lg-2 text-center">
                    <a asp-action="LoginDepartment" asp-controller="Account"> <img src="~/UserDesign/img/bed.png" class="avatar" alt=""></a>
                    <p>قسم الملاحظة</p>
                </div>
                @if (this.Context.User.Identity.IsAuthenticated)
                {
                <div class="col-lg-2 text-center">
                    <a asp-controller="Account" asp-action="MyProfile"> <img src="~/UserDesign/img/اعدادات.png" class="avatar" alt=""></a>
                    <p>بياناتي</p>
                </div>

                }
            </div>
        </div>
    </div>


<footer>
    <!-- Copyright -->
    <div class="text-center p-1">

        <p id="footer-text">تم الانشاء بواسطة <span style="color: var(--red-color);">طلاب فرع النظم</span> الدفعة <span style="color: var(--red-color);">164</span> ضباط إحتياط ©</p>
    </div>

    <!-- Copyright -->
</footer>
    <!--popout div-->
    <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="display: none;"></button>
    <div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">


                    <div class="row justify-content-center">
                        <div class="col-lg-12">

                            <div class="col-lg-12">
                                <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                   class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                            </div>
                            <div class="col-lg-12">
                                <h4 id="errorText">هناك خطأ ما</h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</body>
<script src="~/UserDesign/js/all.min.js"></script>
<script src="~/UserDesign/js/bootstrap.bundle.min.js"></script>
<script src="~/userdesign/js/popouterror.js"></script>
@if (ViewBag.ErrorMessage is string s)
{
    if (!string.IsNullOrEmpty(s))
    {
        <script>popout({ error: '@s' })</script>
    }
}
</html>
